@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.header
{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
}

.menu_btn
{
    background-color: black;
    margin-top: 30px;
    color: silver;
    height: 38px;
    width: 91px;
    font-size: 15px;
    cursor: pointer;
}
.menu_btn:hover
{
    color: orange;
}
.login_btn
{
    position: absolute;
    color: white;
    background-color: #E57C36;
    height: 30px;
    width: 75px;
    right: 20px;
    top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.login_btn:hover
{
    background-color: #F5690C;
}

#menu_under_bar
{
    width: 100%;
    height: 10px;
    background-color: orange;
}
.left
{
    margin-top: 10px;
    position: absolute;
    height: 90%;
    width: 220px;
    left: 20px;
    background-color: white;
}


/*검색바*/
input::-ms-input-placeholder {color: #a8a8a8;}
input::-webkit-input-placeholder {color: #a8a8a8;}
input::-moz-placeholder {color: #a8a8a8;}

#serch_div
{
    width: 218px;
    height: 40px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
    margin-bottom: 5px;
}
.search
{
    font-size: 16px;
    width: 130px;
    padding: 8px 0 0 8px;
    border: 0px;
    outline: none;
}

.search_button
{

    border: 0px;
    height: 100%;
    width: 50px;
    background: #1b5ac2;
    outline: none;
    color: #ffffff;
    float: right;
    font-size: 1.3em;
    cursor: pointer;
}
.search_button:hover
{
    background: #074dbe;
}

/*               여기까지                  */

#left_top
{
    display: flex;
    background-color: orange;

}
.side_menubar
{
    background-color: white;
    padding-left: 4px;
    padding-top: 1px;
    width: 50%;
    height: 40px;
    border: 1px solid silver;
}
.side_menubar2
{
    display: inline-block;
    background-color: white;
    margin-top: -20px;
    height: 35px;
    width: 100%;
    cursor: pointer;
    border: 1px solid silver;
}

#side_menu_scroll
{
    position: absolute;
    height: 90%;
    width: 100%;
}

.side_menubar3
{
    display: inline-block;
    background-color: #CCCCCC;
    color: #8A96A0;
    height: 37px;
    width: 100%;
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
}

.side_menubar4
{
    background-color: #CCCCCC;
    color: #8A96A0;
    height: 35px;
    width: 100%;
    cursor: pointer;
    border: 0;
}

.side_menubar5
{
    background-color: #EF6A12;
    height: 35px;
    width: 100%;
    cursor: pointer;
    border: 0;
}
.side_menubar5:hover
{
    background: #BD3E0C;
    transition: all 0.3s;
}

.right
{
    margin-top: 10px;
    position: absolute;
    height: 80%;
    width: 80%;
    left: 255px;
    right: 10%;
    background-color: #F2F2F2;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
}

#banner_1-2
{
    background-color: white;
    height: 35px;
    width: 20px;
}

#banner_button1-2
{
    background-color: white;
    height: 35px;
    width: 140px;
    border-top: 1px solid silver;
    border-bottom: 0;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

#top_1-2
{
    color: silver;
    font-size: 15px;
    background-color: white;
    width: 100%;
    border: 1px solid silver;
}

.main
{
    height: 100%;
    width: 1100px;

}

#background
{
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid silver;
}

#main1
{
    margin-left: 10px;
    height: 800px;
    width: 90%;
    background-color: white;
}

#main2
{
    display: flex;
    position: absolute;
    margin-left: 30px;
    background-color: white;
    height: 20px;

}
#main2 p
{
    font-size: 20px;
}

#main2 ion-icon
{
    margin-top: 5px;
    font-size: 1.3em;
}

#main3
{
    position: absolute;
    width: 1400px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 35px;
    border-bottom: 2px solid silver;
}

.main4
{
    position: relative;
    display: flex;
    left: 40px;
    top: 100px;
}

.info
{
    width: 90%;
}

.line1
{
    border-top: 1px solid silver;
    display: flex;
    width: 100%;
}

.std
{
    display: flex;
    width: 200px;
    height: 25px;
}

.std_id1
{
    background-color: #F2F2F2;
    width: 90px;
    height: 25px;
}

.std_id1-1
{
    margin-left: 5px;
    width: 100px;
    height: 20px;
    background-color: #EBECED;
    border: 1px solid silver;
}

.main4 img
{
    height: 100px;
    width: 80px;
}

#std_phone_number
{
    display: flex;
    width: 400px;
    height: 25px;
}

#std_phone_number1
{
    margin-left: 5px;
    width: 200px;
    height: 20px;
    background-color: #EBECED;
    border: 1px solid silver;
}

#std_adress
{
    display: flex;
    width: 1000px;
    height: 25px;
}

#std_adress_info
{
    margin-left: 5px;
    width: 900px;
    height: 20px;
    background-color: #EBECED;
    border: 1px solid silver;
}


/* 성적조회 사이트 CSS */

#a_subject
{
    position: absolute;
    margin-top: 100px;
    height: 300px;
}




#subject_table
{
    position: absolute;
    margin-top: 60px;
    margin-left: 25px;
    height: 70px;
    width: 160px;
    border: 1px solid black;
    border-collapse: collapse;
}

#subject_table th,
#subject_table td
{
    border: 1px solid black;
}

#main3_grade
{
    position: absolute;
    margin-top: 1000px;
    margin-left: 0;
    height: 100px;
    width: 800px;
}

#main4_grade
{
    position: absolute;
    display: flex;
    left: 40px;
    top: 100px;
}

#main4_grade p
{

    margin: 20px 0 0 200px;
}

#grade
{
    position: absolute;
    margin: 50px 0 0 200px;
    width: 1000px;
    height: 600px;
}

#grade th,
#grade td
{
    border: 1px solid black;
    text-align: center;
}

/* 여기서부터는 portal_main.php입니다.*/
#a_subject p
{
    font-size: 30px;
}
/* 여기서부터는 info 테이블 */
.main4 img
{
    border: 1px solid black;
}
#vertical-2
{
    border: none;
}
#vertical-2 tr th {
    border-right: 1px solid black;
    padding-right: 5px;
    height: 27px;
    margin: 0;
}
#vertical-2 tr td {
    border: none;
    color: rgb(68, 63, 63);
    height: 25px;
}

/* 여기서부터는 portal_grade.php 테이블 */

#grade_table
{
    margin-bottom: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: auto;
    font-size: 20px;
}
#grade_table tr, td
{
    border-collapse: collapse;
    border: none;
    width: 150px;
    height: 40px;
    color: #8A96A0;
}
#grade_table caption
{
    background: #E57C36;
    height: 35px;
    font-size: 20px;
}
li
{
    list-style: none;
}

/* 여기서부터는 portal_grade_pro1.pnp 입니다.
    portal_grade_x 공통으로 쓰임*/

.grade_insert
{
    margin-bottom: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: auto;
    font-size: 20px;
    border-collapse : collapse;
    border-spacing : 0;
}
.grade_insert tr th
{
    background: #E57C36;
    height: 35px;
    font-size: 20px;
}
.grade_insert tr td
{
    height: 40px;
    font-size: 16px;
    border: 1px solid silver;
}

.grade_insert tr td input
{
    border: none;
    height: 40px;
}

.grade_insert_btn
{
    border: none;
    height: 100%;
    width: 100%;
}
.grade_insert_btn:hover
{
    background: rgb(160, 160, 160);
}
.grade_table2
{
    margin-bottom: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: auto;
    font-size: 20px;
    border-collapse : collapse;
    border-spacing : 0;
    border: none;
}
.grade_table2 tr th
{
    background: #E57C36;
    height: 35px;
    font-size: 20px;
}
.grade_table2 tr td
{
    border-bottom: 1px solid silver;
}

